{
    "branches": [
        {
            "name": "master"
        },
        {
            "name": "dev",
            "channel": "dev",
            "prerelease": true
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {
                            "type": "feat",
                            "section": "Features"
                        },
                        {
                            "type": "fix",
                            "section": "Bug Fixes"
                        },
                        {
                            "type": "build",
                            "section": "Dependencies Updates",
                            "hidden": false
                        }
                    ]
                }
            }
        ],
        "@semantic-release/changelog"
    ]
}